.list {
  margin-bottom: 60px;
}

.header {
  width: 100%;
  display: grid;
  grid-template: auto/repeat(4, 1fr);
  justify-items: center;
  margin-top: 80px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;

  .head {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.4em;
    font-size: 0.875rem;
  }
}

.content {
  display: flex;
  flex-direction: column;

  .row {
    margin: 15px 0px;
    display: grid;
    grid-template: auto/repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
  }
}
